<article
  class="flex justify-center items-center md:my-[180px] my-[90px] md:gap-[150px] flex-col md:flex-row"
  id="nosotros"
>
  <section>
    <h1 class="font-Bernier md:text-[110px] text-[70px] md:text-start text-center leading-[70px] md:leading-normal" id="title">CONÓCENOS MI COMPA</h1>
    <div class="flex flex-col md:max-w-[780px] gap-10 md:w-[740px] w-full md:p-0 p-8">
      <p class="font-Codec font-bold md:text-[20px] text-[18px] text-start text-pretty">
        Bienvenidos a Los Meros Meros Tacos Mexicanos. Nos ubicamos en pleno
        corazón de Miraflores. Tenemos los mejores platos traídos de México.
        Nuestro chef mexicano se rifa preparando los tacos más chingones con
        ingredientes frescos y de la mejor calidad.
      </p>
      <p class="font-Codec font-bold md:text-[20px] text-[18px] text-start text-pretty">
        El ambiente está bien prendido y festivo, con una decoración bien
        colorida y un servicio excelente. Nos late un buen compartir nuestra
        comida contigo y hacer que cada visita sea de puritito sabor a México.
        Te esperamos con los brazos bien abiertos y los mejores tacos. ¡Órale,
        compadre!
      </p>
    </div>
  </section>
  <div
    class="md:w-[550px] w-[90%] bg-[#FAFAFA] py-6 pb-14 shadow-xl flex justify-center items-center flex-col gap-10 rounded"
  >
    <img src="P-Y-O.webp" alt="" class="w-[90%]" />
  </div>
</article>

<style>
  #title {
    color: #ed0505;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 2px #fff;
  }

  #about {
    background-image: url('filter.png');
  }
</style>
