<article class="flex justify-center items-start flex-col gap-10 relative">
  <div class="bg-gradient-wood px-4 rounded-lg shadow-xl relative">
    <div class="bg-mostaza size-2 rounded-full absolute top-3 left-2"></div>
    <div class="bg-mostaza size-2 rounded-full absolute bottom-3 left-2"></div>
    <div class="bg-mostaza size-2 rounded-full absolute bottom-3 right-2"></div>
    <div class="bg-mostaza size-2 rounded-full absolute top-3 right-2"></div>
    <span class="font-Bernier text-mostaza text-[100px]"
      >QUE TRANZA CARNALITO</span
    >
  </div>
  <figure class="absolute translate-x-6 -z-10">
    <img src="soga.png" alt="" class="w-[15px]"/>
  </figure>
  <figure class="absolute left-[67%] -z-10">
    <img src="soga.png" alt="" class="w-[15px]"/>
  </figure>
  <div class="bg-gradient-wood px-4 rounded-lg shadow-xl relative">
    <div class="bg-mostaza size-2 rounded-full absolute top-3 left-2"></div>
    <div class="bg-mostaza size-2 rounded-full absolute bottom-3 left-2"></div>
    <div class="bg-mostaza size-2 rounded-full absolute bottom-3 right-2"></div>
    <div class="bg-mostaza size-2 rounded-full absolute top-3 right-2"></div>
    <span class="font-Bernier text-mostaza text-[100px]">UNOS TAQUITOS?</span>
  </div>
</article>

<style>
  .bg-gradient-wood {
    background: radial-gradient(circle, #793a28, #501d0e);
  }

  .bg-mostaza {
    background-color: #ffb111;
  }

  .text-mostaza {
    color: #ffb111;
  }
</style>
